@charset "UTF-8";
/* CSS Document */


body{
	width: cover;
	hight: auto;
	text-shadow: 0px 0px;
}

header{
	width: 1280px;
	height: 300px;
	background-image: url("../image/header.png");
	background-repeat: no-repeat;
	position: relative;
 } 


header img{
	display: inline-block;
	left: 25px;
	position: relative;
}

header img:hover{
	background-image: url("../image/logo4.png")
}

nav{
	display: inline-block;
	position: absolute;
}

nav ul{
	display: inline-block;
	margin-left: 65px;
	margin-top: 30px;
}

nav ul li{
	display: inline;
	color: #E96B98;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	margin-right: 52px;
	text-shadow: 0 3px 0px #FBF2F2;
}

nav ul li a{
	text-decoration: none;
	color: #E96B98;
}

nav li a:hover{
	color: #FFFFFF;
	text-shadow: 2px 1px #000000;
}


#wrapper {
	background-image: url("../image/bg.jpg");
	width: 1280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: relative;
}

#catering{
	background-image: url("../image/catering.jpg");
	height: 1100px;
	text-align: center;
	margin-top: 0;
}

h1{
	font-family: chewy;
	font-size: 150px;
	color: #FFFFFF;
	padding-top: 200px;
	letter-spacing: 6px;
	text-shadow: 2px 1px #010101;
	margin-top: 0;

}

#bot{
	background-color: #EBB969;
	width: 680px;
	height: 300px;
	margin-left: 300px;
	margin-top: 0;
}

h2{
	color: #E96B98;
	letter-spacing: 6px;
	padding-top: 20px;
	text-decoration-line: underline;
	text-decoration-color: white;
	text-decoration-style: double;
	font-size: 36px;
	
}

p{
	text-align: left;
	color: #FFFFFF;
	font-weight: normal;
	text-shadow: 0 0 #070606;
	letter-spacing: 1px;
	font-size: 14px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px
	
}
footer{
	background-color: #E96B98;
	height: 40px;
	 
}
h5 {
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: abel;
	font-style: normal;
	font-weight: 400;
	padding-top: 10px;
	padding-left: 20px;
}