@charset "UTF-8";
/* CSS Document */


body{
	width: cover;
	hight: auto;
	text-shadow: 0px 0px;
}

header{
	width: 1280px;
	hight: 300px;
	background-image: url("../image/header.png");
	background-repeat: no-repeat;
	position: relative;
 } 


header img{
	display: inline-block;
	left: 25px;
	position: relative;
}

header img:hover{
	background-image: url("../image/logo4.png")
}

nav{
	display: inline-block;
	position: absolute;
}

nav ul{
	display: inline-block;
	margin-left: 65px;
	margin-top: 30px;
}

nav ul li{
	display: inline;
	color: #E96B98;
	font-style: italic;
	font-weight: bold;
	font-size: 28px;
	margin-right: 52px;
	text-shadow: 0 3px 0px #FBF2F2;
}

nav ul li a{
	text-decoration: none;
	color: #E96B98;
}

nav li a:hover{
	color: #FFFFFF;
	text-shadow: 2px 1px #000000;
}


#wrapper {
	background-image: url("../image/bg.jpg");
	width: 1280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: relative;
}


main {
	width: 1280px;
	hight: 1500px;
	text-align: center;
	background-color: #EBB969;
	width: 1000px;
	margin-top: 14px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	position: relative;
}

h1{
	margin-bottom: 0;
	font-family: chewy;
	font-size: 80px;
	color: #FFFFFF;
	letter-spacing: 6px;
	text-shadow: 2px 1px #010101;
	
}
figure{
	width: 400px;
	height: 350px;
	display: inline-block;
	margin-top: 0;
}

figure img{
	margin-top: 0px;
	margin-bottom: -40px;
	width: 350px;
	height: 350px;
	display: inline-block;
}

 h4 {
	color: #E96B98;
	font-family: chewy;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	margin-top: 0;
	margin-bottom: 0;
	width: auto;
	height:50px;
}


p {
	text-align: left;
	color: #FFFFFF;
	font-weight: normal;
	text-shadow: 0 0 #070606;
	letter-spacing: 1px;
	text-transform: none;
	margin-top: 20px;	
	margin-bottom:0px;
	width: auto;
	height: 60px;
}

h6{
	text-align: right;
	color: #E96B98;
	font-family: chewy;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 10px;
	width: auto;
	height: 10px;
	
	
}

footer{
	background-color: #E96B98;
	height: 40px;
	 
}
h5 {
	font-size: 18px;
	letter-spacing: 1px;
	font-family: abel;
	font-weight: 400;
	padding-top: 10px;
	padding-left: 20px;
	color: #FFFFFF;
	font-style: normal;
}
