@charset "utf-8";
@import url("../webfonts/Neon/stylesheet.css");

/* CSS Document */

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Neon;
	cursor: url("../images/mouse.png"), pointer;;
}


header
{
	width: 100%;
	background-color: #ffcdc4;
	position: fixed;
	z-index: 10;
}
header ul 
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background:  #3184BC;
	z-index: 1;
	padding: 100px 0;
}
header.active ul
{
	display: initial;
}
header ul li
{
	padding: 3em 0 0 4em;
	text-align: center;
}
header ul li a
{
	color: white; 
	font-size: 3em;
	text-decoration: none;
	position: relative;
	padding: .5em;
	font-weight: 700;
}
header ul li a::before
{
	content: '';
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	color: rgba(0,0,0,0.1);
	border-radius: 50%;
	z-index:-1;
	opacity: 0;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 500px;
	transition: letter-spacing 0.5s,left 0.5s;
}
header ul li a:hover::before
{
	content: attr(data-text);
	opacity: 1;
	left: 50%;
	letter-spacing: 10px;
	width: 1800px;
	height: 1800px;
}
header ul li a:hover
{
	color: #3184BC;
	/*background: #ff0;*/
	background: #fff;
	border-radius: 5em;
}
.navigation ul li:nth-child(6n+1) a:before
{
	background: #81ecec;
}
.navigation ul li:nth-child(6n+2) a:before
{
	background: #ff7675;
}
.navigation ul li:nth-child(6n+3) a:before
{
	background: #55efc4;
}
.navigation ul li:nth-child(6n+4) a:before
{
	background: #ffeb3b;
}
.navigation ul li:nth-child(6n+5) a:before
{
	background: #03a9f4;	
}
.menuIcon
{
	display: initial;
	position: fixed;
	right: 2em;
	top: 1em;
	cursor: pointer;
	padding: 8px;
	z-index: 10;
	background: url("../images/button.png");
	width: 3em;
	height: 3em;
	background-repeat: no-repeat;
	background-position: 6px;
}
header.active .menuIcon
{
	background:url("../images/x.png");
	background-repeat: no-repeat;
	background-position: 6px;
}

.bg video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.15;
	pointer-events: none;
	
}

.logo
{
	width: 100%;
	text-align: center;
	margin: 3em 0;

}
#brand, #logo, #name{
	width: 100%;
	text-align: center;
}
path{
	stroke-dasharray: 500;
	animation: animate 3s cubic-bezier(0.5, 0.23, 1, 1);
	opacity: 10;
}


@keyframes animate {
	0% {
		opacity: 0;
		fill: none;
		stroke-dahsoffset: 200;
		
	}
	30% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 500;
	}
	90% {
		fill: rgba(49,132,188,0);
	}
	100% {
		opacity: 10;
		fill: rgba(49,132,188,1);
		stroke-dashoffset: 0;
	}
}











