@charset "UTF-8";
@import url("../webfonts/Long_Shot/stylesheet.css");
/* CSS Document */

*
{
	margin: 0 auto;
	padding: 0;
}
#wrapper
{
	background-image: url("../images/smoke.jpg"), url("../images/bg1.jpg");
	background-position: left top, bottom;
	background-repeat: no-repeat, repeat;
	background-size: 100%, 100%;
	max-width: 1024px;
}
body
{
	min-width: 350px;
}
nav
{
	display: inline-block;
	width: 100%;
}
/*
header
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
*/
#logo
{
	display: inline-block;
	margin-left: 3%;
}
#logo h1
{
	color:#AFAFAF;
	font-size: 7.5em;
	font-family: "Long Shot";
	-webkit-text-stroke: .5px black;
	margin: 0;
	padding-top: .27em;
}
#logo span
{
	color: white;
	font-family: "bad-script";
	font-size: 1.5em;
	position: absolute;
	top: 5.5em;
}

header ul 
{
	position: absolute;
	display: inline-block;
	z-index: 1;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin: 9em 0 0 8em;
	font-weight: 100;
}
header ul li
{
	display: inline;
	list-style: none;
	margin-left: 2em;
}
header ul li a 
{
	position: relative;
	text-decoration: none;
	font-size: 1.2em;
	color: white;
	padding: .4em 0;
}
header ul li:nth-child(4) a,
ul li:nth-child(5) a
{
	color: black;
}
header ul li a::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #AFAFAF;
	z-index: -1;
	transition: 0.5s ease-in-out;
}
header ul li a:hover::before,
header ul li a.active::before
{
	width: 1.3em;
}
#bg
{
	margin: 2em 0 0 1em;
	max-width: 1024px;
}

#bg::after
{
	content: 'HOOKAH';
	z-index: 3;
	font-size: 18vw;
	font-weight: 700;
	color: #fff;
	opacity: 0.3;
	font-family: "Long Shot";
	letter-spacing: .13em;
}

h5
{
	font-family: "Long Shot";
	font-size: 9em;
	color: white;
	opacity: .3;
	letter-spacing: .5em;
	margin: 4.8em 0 0 .2em;
}
footer
{
	width: 100%;
	background: rgba(175,175,175,.5);
	overflow: auto;
	margin-bottom: 0;
}
footer h4
{
	color: white;
	padding: .6em 1em;
	font-family: "bad-script";
	float: left;
}
#icons
{
	float: right;
	padding: .6em 3em .6em 0;
}
#icons #sci li
{
	list-style: none;
	display: inline-block;
	transition: 0.5s ease-in-out;
	padding: 0 .7em;
}
#icons #sci li:hover
{
	transform: translateY(-10px);
}



@media (max-width: 768px)
{
	header ul 
	{
    display: none;
    position: flex;
    top: -5em;
    right: 0;
    width: 28.3%;
    height: 30vh;
    background: #0077a0;
    /*		border-radius: 1em;*/
    z-index: 10000;
    padding: 50px 0;
    -webkit-box-shadow: 0 0 10px 2px #000000;
    box-shadow: 0 0 10px 2px #000000;
	}
	header.active ul
	{
		display: initial;
		
	}
	header ul li
	{
/*		padding: 20px;*/
		text-align: center;
/*		margin-left: 50%;*/
		width: 100%;
		margin: 0 auto;
		padding: 1em 0;
		display: block;
	}
	header ul li a
	{
		color: #fff !important;
		font-size: 1em;
		width: 100%;
		text-align: center;
	}
	header ul li a:hover::before,
	header ul li a.active::before
	{
		width: 100%;
	}
	.menuIcon
	{
		display: initial;
		position: fixed;
		right: 1em;
		top: 2em;
		cursor: pointer;
		padding: 8px;
		z-index: 100000;
		background: url("../images/menu.png");
		width: 4em;
		height: 4em;
		background-repeat: no-repeat;
		background-position: 6px;
	}
	header.active .menuIcon
	{
		background: url("../images/x.png");
		background-repeat: no-repeat;
		background-position: 6px;
	}
	#logo
	{
		margin-left: 10em;
	}
	#icons
	{
		padding: .6em 1em .6em 0;
	}
}
@media (max-width: 500px)
{
	#logo
	{
	margin-left: 15%;
	}
#logo h1
	{
	color:#AFAFAF;
	font-size: 6em;
	font-family: "Long Shot";
	-webkit-text-stroke: .5px black;
	margin: 0;
	padding-top: .27em;
	}
#logo span
	{
	color: white;
	font-family: "bad-script";
	font-size: 1.2em;
	position: absolute;
	top: 5.5em;
	}
	#icons
	{
		padding: .6em .2em .6em 0;
	}
	#icons #sci li
	{
		padding: 0 .2em;
	}
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}










