@charset "UTF-8";
/* CSS Document */

body{
	width:  cover;
	height: auto;
	text-align:center;
}

#wrapper{
	width: 1024px;
	height: auto;
	margin: 0 auto;
	position: relative;
}
header {
	width: 1024px;
	height: 100px;
	background-color: #68803D;
}

header img {
	float: left;
	margin-left: 10px;
	width: 230px;
}
header img:hover{
	-webkit-box-shadow: 2px 2px 15px 3px #FFFFFF;
	box-shadow: 2px 2px 15px 3px #FFFFFF;
}
nav {
	display: inline-block;
	position: absolute;
	
}

nav ul {
	display: inline-block;
	margin-top: 60px;
	
	
}

nav ul li {
	display: inline;
	margin-left: 25px;
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
	color: white;
	border-left: thin solid #F5DADA;
	padding-left: 10px;
}

#wrapper{
	width: 1024px;
	height: auto;
}

#burk img{
	margin-top: 50px;
	border: medium ridge #000000;
}
#archi {
	width: 1000px;
	height: 350px;
	margin-left: 32px;
	margin-bottom:0;
}
av ul li {
	display: inline;
	margin-left: 25px;
	font-family: 'Indie Flower', cursive;
	font-size: 24px;
	color: white;
	border-left: thin solid #F5DADA;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: white;
}
#archi img {
	width: 800px;
	height: 20px;
	margin-top: 0;
	margin-left: 100px;
}

#archi h2 {
	font-family: 'Cutive Mono', monospace; 
	font-size: 50px; 
	color: black;
	padding-top: 10px;
	margin-bottom: 0;
	color: #68803D;

}

#archi p{
	width: 300px;
	height: 350px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	text-align: justify;
	overflow: auto;
	font-family: 'Cutive Mono', monospace;
	font-size: 14px;
}

#his{
	margin-top: 100px;
	font-family: 'Cutive Mono', monospace;
	font-size: 30px;
	border: 8px inset #3A2828;
	width: 800px;
	margin-left: 112px;
	-webkit-box-shadow: 1px 2px 11px 17px #F7A5A7;
	box-shadow: 1px 2px 11px 17px #68803D;
	padding: 12px 20px;
	transition: color 0.4s linear;
}

#his a{
	text-decoration:none;
}
#his a :hover{
	background-color:#68803D;
	color:white;
}
footer{
	background-color: #68803D;
	width: 1024px;
	height: 250px;
	display: inline-block;
	margin-top: 80px;
}

#fl {
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 30px;
	text-align: left;
	border-right-style: solid;
	border-right-color: #E6E7E8;
	margin-top: 20px; 
}

footer h3{
	font-family: 'Cutive Mono', monospace; 
	font-size: 30px; 
	color: white;
	text-decoration-line: underline;
	text-decoration-color: black;
	text-decoration-style: double;
}

footer p{
	font-family: 'Cutive Mono', monospace; 
	font-size: 12px; 
	
}

#fr {
	width: 300px;
	height: 200px;
	float: right;
	margin-right: 30px;
	text-align: left;
	border-left-style: solid;
	border-left-color: #E6E7E8;
	margin-top: 20px; 
	padding-left: 20px;
	overflow: auto;
}

footer h4 {
	font-family: 'Cutive Mono', monospace; 
	font-size: 30px;
	margin: 0;
}

footer h6 {
	font-family: 'Cutive Mono', monospace; 
	font-size: 12px;
	border: 2px solid white;
  	border-radius: 5px;
  	opacity: 0.5;
  	background-color: white;
  	margin: 0;
}

footer h5{
	text-align: center;
	font-family: 'Cutive Mono', monospace; 
	font-size: 18px;
	color: white;
	background-color: red;
	border-radius: 10px;
	width: 200px;
	height: 30px;
	margin-left: 50px;
	margin-bottom: 0;
	padding-top: 10px;
}

footer img{
	width: 100px;
	height: 20px;
	margin-top: 20px;
	margin-left: 50px;

}
